<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functions-app66c72476.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/99fb3f1b-e18f-42fa-b17e-dc650977bd17/resourceGroups/dev-atlcloudconf24-AzManagedIds-rg182d540d/providers/Microsoft.Web/sites/functions-app66c72476</ResourceId>
    <UserName>$functions-app66c72476</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://functions-app66c72476.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>